@import url("https://fonts.googleapis.com/css2?family=Lora&family=Spectral:wght@300&display=swap");

/*---------------------------------------------------- General ------*/

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: #00c201;
  font-family: Spectral, Helvetica, sans-serif;
  color: #000;
}

h1,
h2,
h3,
h4,
.hero-quote {
  font-family: Lora, Arial, sans-serif;
  font-weight: 600;
  color: #fffafa;
}

/*---------------------------------------------------- Header ------*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

.header-container p {
  font-family: Lora, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: #fffafa;
}

.logo {
  text-decoration: none;
}

.logo i {
  font-size: 120%;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

#nav li {
  margin-right: 10px;
}

#nav a {
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: #fffafa;
}

#nav a:hover {
  border-bottom: 1px solid #66ff00;
  font-size: 1.25em;
  color: #66ff00;
}

/*---------------------------------------------------- hero-image ------*/

#hero-image {
  height: 70vh;
  width: 100%;
  background: url("../images/mountain-2-persons-web.jpg") no-repeat center center;
  background-size: cover;

  animation: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#hero-outer {
  height: 70vh;
  width: 100%;
  overflow: hidden;
}


@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.hero-quote {
  font-size: 2rem;
  position: relative;
  top: 20vh;
  text-align: center;
}

.hero-quote em {
  font-size: 4rem;
}

/*---------------------------------------------------- benefits ------*/
#benefits-heading {
  margin-top: 2em;
  text-align: center;
  font-size: 200%;
}

details summary {
  cursor: pointer;
}

#hiking-benefits {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 70%;
  width: 100%;
}

.benefit-heading {
  width: 50%;
}

.single-benefit-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.single-benefit-reverse-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 1em;
}

.imagery-bg {
  height: 100px;
  width: 100px;
  margin-right: 0.5em;
  align-self: center;
}

#brain-bg {
  background: url("../images/mental-health-matters-your-mind-matters.gif") no-repeat center center;
  background-size: contain;
}

#bone-bg {
  background: url("../images/strong-bone.png") no-repeat center center;
  background-size: contain;
}

#muscle-bg {
  background: url("../images/man-hike.webp") no-repeat center center;
  background-size: cover;
}

#reduce-fat-bg {
  background: url("../images/go-to-hell-weight-loss.gif") no-repeat center center;
  background-size: contain;
}

/*---------------------------------------------------- Quotes ------*/

.quotes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 35%;
  width: 100%;
}

#quotes-heading {
  margin-top: 2em;
  text-align: center;
  font-size: 200%;
}

.quote {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.quote p::before {
  content: open-quote;
}

.quote p {
  width: 10em;
  padding: 1em;
  margin-right: 1em;
}

.quote p::after {
  content: close-quote;
}


.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}


/*---------------------------------------------------- Footer ------*/

footer {
  height: 25%;
  width: 100%;
}

footer h2 {
  text-align: center;
}

footer h3 {
  margin: 0.5em;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.find-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  text-align: end;
}

footer li {
  display: inline;
}

footer i {
  font-size: 2.5rem;
  transition: transform 1s;
}

footer i:hover {
  color: #66ff00;
  transform: rotate(20deg);
}

footer a {
  text-decoration: none;
  color: #000;
}

#contact-form-link a:hover {
  color: #66ff00;
  border-bottom: 0.5px solid #66ff00;
}

/*---------------------------------------------------- Social Media icons ------*/

.fa-facebook {
  color: #3b5998;
  margin: 2px;
}

.fa-instagram {
  color: #fb3958;
  margin: 2px;
}

.fa-twitter {
  color: #058cc2;
  margin: 2px;
}

.fa-youtube {
  color: #c4302b;
  margin: 2px;
}

.fa-snapchat {
  color: #ce3e1a;
  margin: 2px;
}


/*---------------------------------------------------- Gallery page ------*/

#photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

#photos img {
  width: 100%;
}

/*---------------------------------------------------- Contact page ------*/

form {
  background-color: rgba(60, 60, 60, 0.6);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  margin:auto;
  transform: translate(-50%, -50%);
}

.form-container {
  width: 100%;
  height: 80vh;
  background-image: url("../images/13.webp");
}

form label {
  color: #fffafa;
}

.text-input {
  width: 100%;
  height: 25px;
  padding: 0;
  margin: 5 0 20;
  border: 1px solid #000;
  border-radius: 10px;

}

.text-input:hover {
  border-color: #66ff00;
}

.message {
  width: 100%;
  height: 75px;
  padding: 0;
  margin: 5 0 20;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 1rem;
}

#message:hover {
  border-color: #66ff00;
}

input[type=submit] {
  display: block;
  background-color: #e4572e;
  color: #fffafa;
  padding: 10px;
  margin: 20px auto;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 20px;
}

input[type=submit]:hover{
  background-color: #66ff00;
  color: #000;
  cursor: pointer;
}

/*---------------------------------------------------- Media queries ------*/

@media screen and (max-width: 1023px) {
  html {
    font-size: 14px;
  }

  .hero-quote {
    font-size: 1.5rem;
  }

  .hero-quote em {
    font-size: 3rem;
  }

  .quote:nth-child(3) {
    display: none;
  }

  input[type=submit] {
    padding: 5px;
    margin: 10px auto;
    font-size: 1.5rem;
  }

  /*---------------------------------------------------- Gallery media query ------*/

  #photos {
    column-count: 2;
  }
}



@media screen and (max-width: 425px) {
  html {
    font-size: 12px;
  }

  /*---------------------------------------------------- Hero-image media query------*/

  .hero-quote {
    font-size: 1rem;
  }

  .hero-quote em {
    font-size: 2rem;
  }

  .circle {
    display: none;
  }

  /*---------------------------------------------------- Quotes  media query ------*/

  #quotes-heading {
    margin-top: 1em;
  }

  .quote p {
    display: block;
    width: 100%;
    padding: 0;
  }

  .quote:nth-child(3) {
    display: none;
  }

  /*---------------------------------------------------- Benefits media query ------*/

  #benefits-heading {
    margin-top: 1em;
  }

  .imagery-bg {
    height: 50px;
    width: 50px;
  }

  /*---------------------------------------------------- Footer  media query ------*/

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .find-us p {
    display: none;
  }

  /*---------------------------------------------------- Gallery  media query ------*/

  #photos {
    column-count: 1;
  }

  /*---------------------------------------------------- contact media query ------*/

  .form-container h2{
    font-size: 1.2rem;
  }
}

@media screen and (max-height: 700px) {
  form{
    top: 47%;
  }
}