@import url("https://fonts.googleapis.com/css2?family=Lora&family=Spectral:wght@300&display=swap");

/*---------------------------------------------------- General ------*/

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: #00c201;
  font-family: Spectral, Helvetica, sans-serif;
  color: #000;
}

/*---------------------------------------------------- Header ------*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

.header-container p,
h1,
h2,
h3 {
  font-family: Lora, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: #80ffec;
}

.logo {
  text-decoration: none;
}

.logo i {
  font-size: 120%;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style-type: none;
  letter-spacing: 1px;
}

#nav li {
  margin-right: 10px;
}

#nav a {
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: #fff7fa;
}

#nav a:hover {
  border-bottom: 1px solid #66ff00;
  font-size: 1.25em;
  color: #66ff00;
}

/*---------------------------------------------------- Footer ------*/

footer {
  height: 200px;
  border: 1px solid #000;
}

footer h2{
  text-align: center;
}

.contact{
  display: flex;
  justify-content: space-between;
}

.find-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

footer ul{
  text-align: end;
}

footer li{
  display: inline;
}

footer i{
  font-size: 3rem;
}

.fa-facebook{
  color:  #3b5998;
}

.fa-instagram{
  color:  #fb3958;
}

.fa-twitter{
  color:  #00acee;
}

.fa-youtube{
  color:  #c4302b;
}

.fa-snapchat{
  color:  #ce3e1a;
}